.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    margin-left: 250px;
    margin-right: 250px;
  }
  
  .Navbar > div {
    display: flex;
    align-items: center;
    gap: 40px;
    border: 1px solid black;
  }
  
  .Navbar .logo {
    margin-right: 20px;
    background-color: red;
  }
  
  .section1,
  .section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 100px;
  }
  
  .img {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    background-color: #ccc; /* Example color */
  }
  
  .section1 .img {
    border-radius: 20px;
    order: 1;
  }
  
  .section2 .img {
    border-radius: 20px;
    order: 1;
  }
  
  .section1 p,
  .section2 p {
    margin-left: 20px;
    font-size: 20px;
  }
  
  .section2 p {
    order: 1;
  }
  